
# Ignore virtual environment directories
/venv/
/env/
/virtualenv/
/workspace/
/projectenv/
r2.txt
AdVisualBERT.py
/mmf/
/processor/

/experiments/*-checkpoint/
/experiments/*-check/
experiments/test/
experiments/*.csv
experiments/*.py
experiments/.~lock.*
experiments/VisualBERT_*

experiments/old.ipynb

data/*.jsonl
__pycache__

*.png